Treatment of machine-readable messages/media types

The [standard](https://autocrypt.org/level1.html#updating-autocrypt-peer-state) mentions incoming multipart/report messages as exception for processing, but I think there are more cases which **might** need special treatment.
### Incoming Messages
Messages containing _only_ a iCalendar top-level part (text/calendar, RFC 5545) may be generated automatically by a system (e.g. a calendar server) not under control of a Autocrypt-capable MUA.  For the same reason as outlined in the standard for multipart/report, it might be a good idea to ignore such messages for peer state updates.  However, such messages _may_ also be created by a MUA.  I don't think it is possible to define a rule which reliably distinguishes them from auto-generated ones.  So I think always ignoring them would be a safe approach.
### Outgoing Messages
The standard does not include a policy recommendation for signing and/or encrypting outgoing messages which might be processed automatically outside a MUA.  Examples are:
- multipart/report (e.g. RFC 3798 MDN, RFC 5965 feedback-report, …)
- text/calendar – as above
- maybe more?

Signing and/or encrypting such messages will most likely break automatic processing and should IMO explicitly be discouraged in the standard.
Furthermore, it does not make sense to add Autocrypt headers to messages which shall be excluded from peer state update processing anyway.  For clarity (and to avoid unnecessary swelling of such messages) I think it would be a good idea if the standard would explicitly recommend to omit Autocrypt headers in these cases (there has been a controversial discussion on the mailing list about this, though).

Note: they are probably more messages with distinct media types which are typically auto-generated and need the same attention.

> Signing and/or encrypting such messages will most likely break automatic processing and should IMO explicitly be discouraged in the standard.

That's an interesting thought. Do you have any data to back up this assumption though? Does processing not work in Enigmail or gpg4win, or do you have some other software in mind that processes these messages automatically?

> However, such messages may also be created by a MUA. I don't think it is possible to define a rule which reliably distinguishes them from auto-generated ones. So I think always ignoring them would be a safe approach.

Another option would be to disregard them unless they contain an `Autocrypt` header? That way they won't cause resets, but can still update the key state. Note that a missing header only switches the status to `discouraged`, and with 35 days of delay, so this shouldn't be too bad in practice.

> That's an interesting thought. Do you have any data to back up this assumption though? Does processing not work in Enigmail or gpg4win, or do you have some other software in mind that processes these messages automatically?

I don't know for sure, but I would guess that systems with a database backend (M$ Exchange, Lotus, etc.) process multipart/report internally in the server to create the appropriate db relations (and display them in the frontend MUA).
However, reading RFC 8098 carefully again, the situation is actually quite clear: it [explicitly requires](https://tools.ietf.org/html/rfc8098#section-3)
> A message disposition notification is a MIME message with a top-level content type of multipart/report […]

I.e. anything with a different top-level type, including multipart/encrypted, multipart/signed or application/pkcs7-mime, is _not_ a valid MDN.  Explicitly mentioning in the Autocrypt standard that multpart/report must not be signed and/or encrypted is somewhat unnecessary, but would IMO be helpful for the sake of clarity.
Re. text/calendar: they _may_ be processed internally in e.g. Kolab and Zarafa servers (“accept invitations automatically”; in the past at least; my knowledge of ~2 years ago), and I would bet that the same applies to Exchange etc.  I.e. signing and/or encryption will most likely break this.
> Another option would be to disregard them unless they contain an `Autocrypt` header? That way they won't cause resets, but can still update the key state. Note that a missing header only switches the status to `discouraged`, and with 35 days of delay, so this shouldn't be too bad in practice.

Hmmm, doesn't this over-complicate message processing?  IOW, what do we loose if we never add the Autocrypt header to multipart/report and text/calendar (an others?), and simply ignore incoming messages with this top-level content type?


From a practical stand-point, @r10s discovered that requesting standard MDNs leads to great difficulties in understanding the responses because different impls produce use all kinds of funny outputs, sometimes making it hard to link them back to the original message.  Therefore DeltaChat uses MDNs but as a differently named headers.  What this points at, IMO, is that we might also go for defining a second header that *does* allow for encryption.  Maybe we get to play with this soon in 2019 deltachat releases.  For now, however, we can close this issue but clarifying that current MDNs are per-standard not allowed to be encrypted/signed is fine.  This can be further discussed in a PR if anyone is up for it. 