Add formal grammar for Autocrypt header

Right now the spec only contains the following text:

> The Autocrypt header has the following format:
>
> `Autocrypt: to=a@b.example.org; [type=p;] [prefer-encrypted=(yes|no);] key=BASE64`

And then later adds that additional attributes are allowed before the `key` attribute.

But in order to properly parse such a header a formal grammar should be given. At the very least the format of unknown/future attribute keys and values needs to be specified.

Base64-encoded keys are also very likely to exceed the 1000 character line length limit. My suggestion is to allow folding whitespace (see [RFC 5322, section 2.2.3](https://tools.ietf.org/html/rfc5322#section-2.2.3) and [section 3.2.2](https://tools.ietf.org/html/rfc5322#section-3.2.2)) between all attributes and inside the base64-encoded key value. This will require the base64 decoder to ignore invalid input characters (or at least whitespace).



yes, i think you've described the intended behavior, and what people are currrently implementing -- if you've got a clarification to the text that would make that more explicit, that would be great.


@cketti are you interested in writing a formal grammar?  This suggestion for improvement hasn't seen much love, and no one seems particularly motivated to write it :/  if you've got the inclination, i'd be happy to review.

this doesn't seem to be a priority. closing issue as stale